[submodule "kubernetes-for-developers"]
	path = kubernetes-for-developers
	url = https://github.com/WilliamDenniss/kubernetes-for-developers.git
[submodule "data-pipelines-pocket-reference"]
	path = data-pipelines-pocket-reference
	url = https://github.com/jamesdensmore/datapipelinesbook
[submodule "data-engineering-with-dbt"]
	path = data-engineering-with-dbt
	url = https://github.com/PacktPublishing/Data-engineering-with-dbt
[submodule "awesome-devsecops"]
	path = awesome-devsecops
	url = https://github.com/devsecops/awesome-devsecops.git
[submodule "machine-learning-for-production"]
	path = machine-learning-for-production
	url = https://github.com/https-deeplearning-ai/machine-learning-engineering-for-production-public.git
[submodule "amazon-sagemaker"]
	path = amazon-sagemaker
	url = https://github.com/aws/amazon-sagemaker-examples.git
[submodule "micrograd"]
	path = micrograd
	url = https://github.com/karpathy/micrograd.git
[submodule "data-engineering-zoomcamp"]
	path = data-engineering-zoomcamp
	url = https://github.com/DataTalksClub/data-engineering-zoomcamp.git
[submodule "data-pipelines-with-apache-airflow"]
	path = data-pipelines-with-apache-airflow
	url = https://github.com/BasPH/data-pipelines-with-apache-airflow.git
[submodule "high-performance-python"]
	path = high-performance-python
	url = https://github.com/mynameisfiber/high_performance_python_2e.git
[submodule "fluent-python"]
	path = fluent-python
	url = https://github.com/fluentpython/example-code-2e.git
